<template>
    <b-container>
        <b-card class="text-center">
            <template v-slot:header>
                <h1 class="mb-0">Task Manager</h1>
            </template>
            <div>
                <b-input-group>
                    <b-form-input v-model="taskName" placeholder="Your task title..."></b-form-input>
                     <template v-slot:append>
                        <b-button @click="addTask">ADD</b-button>
                    </template>
                </b-input-group>
            </div>
            <span>You are seing <strong> {{selectedTasksName}} tasks</strong></span>
            <a href="#" @click="selectedPending = ! selectedPending"> Click here to see {{otherTasksName}} tasks</a>
            <h3>Your {{selectedTasksName}} tasks</h3>
            <b-card align="left">
                <div>
                    <b-form-checkbox
                        v-for="task in tasks"
                        :key="task.id"
                        v-if="taskVisible(task)"
                        v-model="task.finished"
                        @change="toggleTask(task)">
                        {{task.name}}
                    </b-form-checkbox>
                </div>
            </b-card>
        </b-card>
    </b-container>
</template>

<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                taskName: '',
                selectedPending: true,
                tasks: [],

            }
        },
        async mounted() {
            const response = await axios.get('/api/tasks')
            this.tasks = response.data
        },
        computed: {
            selectedTasksName() {
                return this.selectedPending ? 'pending' : 'finished'
            },
            otherTasksName(){
                return ! this.selectedPending ? 'pending' : 'finished'
            }
         },
        methods: {
            async addTask() {
                const result = await axios.post('api/task/add', {
                    name: this.taskName,
                })
                this.tasks.push({id: result.data.id, name: result.data.name, finished: false})
                this.taskName = ''
            },
            taskVisible(task) {
                return (this.selectedPending && !task.finished) || (!this.selectedPending && task.finished)
            },
            toggleTask(task) {
                task.finished ? this.startTask(task) : this.finishTask(task)
            },
            finishTask(task) {
                axios.post('api/task/finish', {
                    id: task.id
                })
            },
            startTask(task) {
                axios.post('api/task/start', {
                    id: task.id
                })
            }
        }
    }
</script>
